appdirs==1.4.3
defusedxml==0.5.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.6
django-allauth==0.31.0
django-mailgun==0.9.1
gunicorn==19.7.1
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python3-openid==3.1.0
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
static3==0.7.0
whitenoise==3.3.0
